name: Build and Test Vue Application

on: 
  push:
    branches: [main]

jobs:
  build_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_version: [20.x, 21.x, 22.x]
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node_version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node_version }}
      - name: npm ci, build and test
        working-directory: ./my-app
        run: |
          npm ci
          npm run build --if-present
          npm run test 
